// --------------------------------------------------
// SETTING FOR GLOBAL STYLE
// --------------------------------------------------

/**
  * Breakpoints
  * 
  */
  $breakpoint-320:                      '320px';
  $breakpoint-375:                      '375px';
  $breakpoint-411:                      '411px';
  $breakpoint-md:                       '768px';
  $breakpoint-lg:                       '992px'; 
  $breakpoint-xl:                       '1400px';
  $breakpoint-xxl:                      '1600px';

  /**
    * Colors
    * 
    */
  $primary-color:                        #FF6060;
  $secondary-color:                      #FFF;
  $tertiary-color:                       #000;

  $gray-light:                           lighten($tertiary-color, 96.47%); // #F6F6F6
  $gray:                                 lighten($tertiary-color, 80%); // #CCC
  $cover-light:                          rgba($tertiary-color, .3);

  /**
    * Typography
    * 
    */
  $font-family-txt:                       'Montserrat', sans-serif;
  
  $font-size-init:                        16px;
  $font-size-normal:                      1em;
  
  $line-height-normal:                    1;

  /**
    * .body
    * 
    */
  $font-size-body:                        $font-size-init;
  $font-style-body:                       normal;
  $font-weight-body:                      400;
  $line-height-body:                      $line-height-normal * 1.188;
  $color-body:                            $secondary-color;
  $bg-color-body:                         $secondary-color;

  /**
    * Other bases
    * 
    */
  
  //== Levels of section headings ==
  $color-h1-h2-h3:                        $secondary-color;

  //== h1 ==
  $font-size-h1-page:                     $font-size-normal * 1.25;
  $font-size-h1-page-375:                 $font-size-normal * 1.45;
  $font-size-h1-page-411:                 $font-size-normal * 1.75;
  $font-size-h1-page-md:                  $font-size-normal * 1.65;
  $font-size-h1-page-xl:                  $font-size-normal * 1.85;
  $font-size-h1-page-xxl:                 $font-size-normal * 2.05;

  $line-height-h1-page:                   $line-height-normal * 1.2;
  
  $font-weight-h1-h2-h3:                  500;

  //== p ==
  $font-size-p-banner:                    $font-size-normal;
  $font-size-p-banner-375:                $font-size-normal * 1.1;
  $font-size-p-banner-411:                $font-size-normal * 1.2;
  
  $line-height-p-banner:                  $line-height-normal * 1.15;  
  
  //== a ==
  $font-size-a-nav:                       $font-size-normal * .775;
  $font-size-a-nav-375:                   $font-size-normal * .875;
  $font-size-a-nav-md:                    $font-size-normal * .875;
  $font-size-a-nav-lg:                    $font-size-normal * 1.15;
  $font-size-a-nav-xl:                    $font-size-normal * 1.25;
  $line-height-a-nav:                     $line-height-normal * 2;
  $font-weight-a:                         500;
  $color-a:                               $primary-color;

// --------------------------------------------------
// LAYOUT
// --------------------------------------------------

//== Header ==
$bg-color-header:                         $secondary-color;

//== Footer ==
$bg-color-footer:                         $tertiary-color;

// --------------------------------------------------
// COMPONENTS
// --------------------------------------------------

//== Banner ==
$bg-color-banner:                         $primary-color;
$bg-color-banner-after:                   $cover-light;
$font-size-h1-banner:                     $font-size-normal * 1.3;
$font-size-h1-banner-375:                 $font-size-normal * 1.4;
$font-size-h1-banner-411:                 $font-size-normal * 1.5;
$font-size-h1-banner-md:                  $font-size-normal * 1.65;
$font-size-h1-banner-lg:                  $font-size-normal * 1.75;
$font-size-h1-banner-xl:                  $font-size-normal * 2.25;
$font-size-h1-banner-xxl:                 $font-size-normal * 2.5;
$line-height-h1-banner:                   $line-height-normal * 1.25;

//== Cards ==
$font-size-h2-card:                       $font-size-normal * 1.125;
$line-height-h2-card:                     $line-height-normal * 1.25;
$bg-color-cards:                          $gray-light;

//== Accordion ==
$font-size-title-accordion:               $font-size-normal;
$font-size-title-accordion-md:            $font-size-normal;
$font-size-title-accordion-lg:            $font-size-normal * 1.15;
$font-size-title-accordion-xl:            $font-size-normal * 1.25;
$font-size-li-accordion-md:               $font-size-normal * .9;
$font-size-li-accordion-lg:               $font-size-normal * .975;
$font-size-li-accordion-xl:               $font-size-normal * 1.1;
$font-size-li-accordion-xxl:              $font-size-normal * 1.15;
$font-weight-title-accordion:             500;
$line-height-panel-accordion:             $line-height-normal * 1.5;
$color-title-accordion:                   $secondary-color;
$color-li-accordion:                      $primary-color;
$bg-color-accordion:                      $primary-color;

// --------------------------------------------------
// PAGES
// --------------------------------------------------

 //== 404 error ==
$font-size-h1-404:                        $font-size-normal * 6;
$font-size-h1-404-md:                     $font-size-normal * 8;
$font-size-h1-404-lg:                     $font-size-normal * 12;
$font-size-h1-404-xl:                     $font-size-normal * 14;
$font-size-h1-404-xxl:                    $font-size-normal * 18;
$font-size-p-404:                         $font-size-normal * 1.1;
$font-size-p-404-md:                      $font-size-normal * 1.35;
$font-size-a-404:                         $font-size-normal * 1.1;
$font-size-a-404-md:                      $font-size-normal * 1.125;
$line-height-h1-404:                      $line-height-normal;
$line-height-p-404:                       $line-height-normal * 1.35;
$font-weight-a-404:                       500;
$not-found-error-color:                   $primary-color;

//== Property ==
$font-size-h1-property:                   $font-size-normal * 1.2;
$font-size-h1-property-375:               $font-size-normal * 1.3;
$font-size-h1-property-411:               $font-size-normal * 1.35;
$font-size-h1-property-md:                $font-size-normal * 1.4;
$font-size-h1-property-lg:                $font-size-normal * 1.55;
$font-size-h1-property-xl:                $font-size-normal * 1.875;
$font-size-h1-property-xxl:               $font-size-normal * 1.975;
$font-size-h2-property:                   $font-size-normal * .875;
$font-size-h2-property-375:               $font-size-normal * .975;
$font-size-h2-property-411:               $font-size-normal;
$font-size-h2-property-md:                $font-size-normal * 1.025;
$font-size-h2-property-lg:                $font-size-normal * 1.025;
$font-size-h2-property-xl:                $font-size-normal * 1.025;
$font-size-h2-property-xxl:               $font-size-normal * 1.025;
$font-size-li-property:                   $font-size-normal * .775;
$font-size-host-name-property:            $font-size-normal * .985;
$font-size-host-name-property-md:         $font-size-normal;
$font-size-star-property-md:              $font-size-normal * 1.05;
$font-size-star-property-lg:              $font-size-normal * 1.15;
$font-size-star-property-xl:              $font-size-normal * 1.25;

$line-height-h1-property:                 $line-height-normal * 1.45;
$line-height-h2-property:                 $line-height-normal * 1.25;
$line-height-li-property:                 $line-height-normal * 2.25; 
$line-height-host-name-property:          $line-height-normal * 1.35;
$font-weight-li-property:                 500;

$color-h1-property:                       $primary-color;
$color-h2-property:                       $primary-color;
$color-li-property:                       $secondary-color;
$color-host-name-property:                $primary-color;
$color-star-default:                      $gray;
$color-star-rating:                       $primary-color;
$bg-color-li-property:                    $primary-color;