.header-site {
  nav {

    a {
      font-size: $font-size-a-nav;
      font-weight: $font-weight-a;
      line-height: $line-height-a-nav;
      text-transform: uppercase;
      color: $color-a;
      text-decoration: none;

      @media (min-width: $breakpoint-375 ) {
        font-size: $font-size-a-nav-375;
      }

      @media (min-width: $breakpoint-md ) {
        font-size: $font-size-a-nav-md;
      }

      @media (min-width: $breakpoint-lg ) {
        font-size: $font-size-a-nav-lg;
        text-transform: none;
      }

      @media (min-width: $breakpoint-xl ) {
        font-size: $font-size-a-nav-xl;
      }

      &:hover {
        text-decoration: underline;
      }

      &.active {
        text-decoration: underline;
      }
    }
  }
}

.not-found{
  > * {
    color:  $not-found-error-color
  }

  h1 {
    font-size: $font-size-h1-404;
    line-height: $line-height-h1-404;

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-h1-404-md;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: $font-size-h1-404-lg;
    }

    @media (min-width: $breakpoint-xl ) {
      font-size: $font-size-h1-404-xl;
    }

    @media (min-width: $breakpoint-xxl ) {
      font-size: $font-size-h1-404-xxl;
    }
  }

  p {
    font-size: $font-size-p-404;
    line-height: $line-height-p-404;

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-p-404-md;
    }
  }

  a {
    font-size: $font-size-a-404;
    font-weight: $font-weight-a-404;
    text-decoration: underline;

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-a-404-md;
    }
  }
}

.banner {
  h1 {
    font-size: $font-size-h1-banner;
    line-height: $line-height-h1-banner;
    font-weight: $font-weight-h1-h2-h3;

    @media (min-width: $breakpoint-375 ) {
      font-size: $font-size-h1-banner-375;
    }

    @media (min-width: $breakpoint-411 ) {
      font-size: $font-size-h1-banner-411;
    }

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-h1-banner-md;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: $font-size-h1-banner-lg;
    }

    @media (min-width: $breakpoint-xl ) {
      font-size: $font-size-h1-banner-xl;
    }

    @media (min-width: $breakpoint-xxl ) {
      font-size: $font-size-h1-banner-xxl;
    }
  }
}

.card {
  h2 {
    font-size: $font-size-h2-card;
    line-height: $line-height-h2-card;
  }
}

.accordion {
  button {
    font-size: $font-size-title-accordion;
    font-weight: $font-weight-title-accordion;
    color: $color-title-accordion;

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-title-accordion-md;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: $font-size-title-accordion-lg;
    }

    @media (min-width: $breakpoint-xl ) {
      font-size: $font-size-title-accordion-xl;
    }

  }

  li {
    font-size: $font-size-title-accordion;
    line-height: $line-height-li-accordion;
    color: $color-li-accordion;
    list-style: none;

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-li-accordion-md;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: $font-size-li-accordion-lg;
    }
    
    @media (min-width: $breakpoint-xl ) {
      font-size: $font-size-li-accordion-xl;
    }
    
    @media (min-width: $breakpoint-xxl ) {
      font-size: $font-size-li-accordion-xxl;
    }
  }
}

.property {
  h1 {
    font-size: $font-size-h1-property;
    color: $color-h1-property;
    line-height: $line-height-h1-property;
    font-weight: $font-weight-h1-h2-h3;

    @media (min-width: $breakpoint-375 ) {
      font-size: $font-size-h1-property-375;
    }

    @media (min-width: $breakpoint-411 ) {
      font-size: $font-size-h1-property-411;
    }

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-h1-property-md;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: $font-size-h1-property-lg;
    }

    @media (min-width: $breakpoint-xl ) {
      font-size: $font-size-h1-property-xl;
    }

    @media (min-width: $breakpoint-xxl ) {
      font-size: $font-size-h1-property-xxl;
    }
  }

  h2 {
    font-size: $font-size-h2-property;
    color: $color-h2-property;
    line-height: $line-height-h2-property;
    font-weight: $font-weight-h1-h2-h3;

    @media (min-width: $breakpoint-375 ) {
      font-size: $font-size-h2-property-375;
    }

    @media (min-width: $breakpoint-411 ) {
      font-size: $font-size-h2-property-411;
    }

    @media (min-width: $breakpoint-md ) {
      font-size: $font-size-h2-property-md;
    }

    @media (min-width: $breakpoint-lg ) {
      font-size: $font-size-h2-property-lg;
    }

    @media (min-width: $breakpoint-xl ) {
      font-size: $font-size-h2-property-xl;
    }

    @media (min-width: $breakpoint-xxl ) {
      font-size: $font-size-h2-property-xxl;
    }
  }

  .part-left {
    li {
      font-size: $font-size-li-property;
      line-height: $line-height-li-property;
      font-weight: $font-weight-li-property;
      color: $color-li-property;
    }
  }

  .part-right {
    &__host {
      span {
        font-size: $font-size-host-name-property;
        line-height: $line-height-host-name-property;
        text-transform: capitalize;
        text-align: right;
        color: $color-host-name-property;
  
        @media (min-width: $breakpoint-md ) {
          font-size: $font-size-host-name-property-md;
        }
      }
    }

    &__rating {
      div {  
        span {
          @media (min-width: $breakpoint-md ) {
            font-size: $font-size-star-property-md;
          }
          @media (min-width: $breakpoint-lg ) {
            font-size: $font-size-star-property-lg;
          }
          @media (min-width: $breakpoint-xl ) {
            font-size: $font-size-star-property-xl;
          }
        }
  
        &:first-child {
          span {
            color: $color-star-default;
          }
        }
  
        &:last-child {
          span {
            color: $color-star-rating;
          }
        }
      }      
    }
  }
}