.header-site {
  nav {

    a {
      font-size: $font-size-a-nav;
      font-weight: $font-weight-a;
      line-height: $line-height-a-nav;
      text-transform: uppercase;
      color: $color-a;
      text-decoration: none;

      @media (min-width: $breakpoint-375 ) {
        font-size: $font-size-a-nav-375;
      }

      @media (min-width: $breakpoint-md ) {
        font-size: $font-size-a-nav-md;
      }

      @media (min-width: $breakpoint-lg ) {
        font-size: $font-size-a-nav-lg;
        text-transform: none;
      }

      @media (min-width: $breakpoint-xl ) {
        font-size: $font-size-a-nav-xl;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}