.about {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (min-width: $breakpoint-lg ) {
      padding: 2rem;
    }    
  }
}