.about {
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
    
    @media (min-width: $breakpoint-md ) {
      max-width: 80%;
      margin: 0 auto;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
    }  
    
    @media (min-width: $breakpoint-lg ) {
      max-width: 82%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }    
    
    @media (min-width: $breakpoint-xxl ) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }  
  }
}