.footer-site {
  width: 100%;
  background-color: $bg-color-footer;


  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    min-height: 12rem;

    @media (min-width: $breakpoint-lg ) {
      max-width: 1240px;
    }

    small {
      width: 8rem;
      text-align: center;
      padding-top: .875rem;

      @media (min-width: $breakpoint-lg ) {
        width: unset;
      }
    }
  }
}